
{% extends "layouts/default.html" %}

{% block title %}Interaction Designer, Developer, Maker{% endblock %}

{% macro blogPost(post) %}
<a href="/post/{{ post.slug }}" class="thumbnail-link">
	<div class="thumbnail">
		{% if post.image.exists %}
		<img data-src="{{ post._.image.fill(365,365) }}" src="images/load.gif" class="preview-image">
		{% endif %}
	</div>
	<p class="thumbnail-caption">{{ post.title }}</p>
</a>
{% endmacro %}

{% block intro %}
<header class="blog-intro">
	<div class="day-number">
		
	</div>
	<div class="twitter-link">
		<h2><a href="https://twitter.com/david__todd">@david__todd</a></h2>
	</div>
</header>
{% endblock %}

{% block content %}
<main class="thumbnails" id="thumbnails">
	{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
</main>
<script src="/js/lazyLoadThumbnails.js"></script>
{% endblock %}

