
{% extends "layouts/default.html" %}
{% macro blogPost(post) %}
<a href="/post/{{ post.slug }}" class="thumbnail-link">
	<div class="thumbnail">
		<h2 class="day-number">
			#{{ post.number }}
		</h2>
		{% if post.image.exists %}
		<img src="{{ post._.image.fill(365,365) }}" class="preview-image">
		{% endif %}
	</div>
</a>
{% endmacro %}

{% block intro %}
<header class="blog-intro">
	<div class="day-number">
		<h1 class="page-title">Day {{ dayNumber }} of 365</h1>
	</div>
	<div class="date">
		<h2>{{ todaysDate }}</h2>
	</div>
</header>
{% endblock %}

{% block content %}
<main class="thumbnails">
	{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
</main>
{% endblock %}

