{% extends "layouts/default.html" %}


{% block head %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mr_d_todd">
<meta name="twitter:creator" content="@mr_d_todd">
<meta name="twitter:title" content="{{ data.post.title }} | #doodahaday {{ data.post.number }}/365">
<meta name="twitter:description" content="{{ data.post.content.full|safe }}">
<meta name="twitter:image" content="{{ data.post._.image.fit(500,500) }}">
{% endblock %}

{% block content %}
	<header class="blog-intro">
		<div class="day-number">
			<h1 class="page-title">Day {{ data.post.number }} of 365</h1>
		</div>
		<div class="date">
			<h2>Posted on
				{% if data.post.publishedDate %}
				on {{ data.post._.publishedDate.format("MMMM Do, YYYY") }}
				{% endif %}
			</h2>
		</div>
	</header>
	<article>
		<p>
			<a href="/blog">&larr; back</a>
		</p>
		{% if not data.post %}
			<h2>Invalid Post.</h2>
		{% else %}
			<header>
				<h1>{{ data.post.title }}</h1>
			</header>
			<div class="post">
				{% if data.post.image.exists %}
						<img src="{{ data.post._.image.fit(500,500) }}">
				{% endif %}
				{{ data.post.content.full|safe }}
			</div>
		{% endif %}
	</article>
{% endblock %}
