{% extends "layouts/default.html" %}


{% block head %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mr_d_todd">
<meta name="twitter:creator" content="@mr_d_todd">
<meta name="twitter:title" content="{{ data.post.title }} | #doodahaday {{ data.post.number }}/365">
<meta name="twitter:description" content="{{ data.post.content.full|striptags(true) }}">
<meta name="twitter:image" content="{{ data.post._.image.fit(500,500) }}">
{% endblock %}

{% block title %}{{ data.post.title }} {{ data.post.number }}/365{% endblock %}

{% block content %}
	<header class="blog-intro">
		<div class="day-number">
			<h1 class="page-title">Day {{ data.post.number }} of 365</h1>
		</div>
		<div class="date">
			<h2>
				{% if data.post.publishedDate %}
					{{ data.post._.publishedDate.format("MMMM Do, YYYY") }}
				{% endif %}
			</h2>
		</div>
	</header>
	<article>
		<p>
			<h2><a href="/blog" class="back-link">&larr; back</a></h2>
		</p>
		{% if not data.post %}
			<h2>Invalid Post.</h2>
		{% else %}
			<header>
				<h1>{{ data.post.title }}</h1>
			</header>
			<div class="post">
				{% if data.post.image.exists %}
						<img width="500" src="{{ data.post._.image.fit(750,750) }}">
				{% endif %}
				<p>
					<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ data.post.tweetTextString }}&via=mr_d_todd&hashtags=DoodahADay" data-size="large">Tweet</a>
				</p>
				{{ data.post.content.full|safe }}
			</div>
		{% endif %}
	</article>

	<script>window.twttr = (function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0],
					t = window.twttr || {};
			if (d.getElementById(id)) return t;
			js = d.createElement(s);
			js.id = id;
			js.src = "https://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);

			t._e = [];
			t.ready = function(f) {
				t._e.push(f);
			};

			return t;
		}(document, "script", "twitter-wjs"));</script>


{% endblock %}
