article {
  margin-bottom: 100px;
  h1 {
	font-size: 5em;
	@media screen and (max-width: 800px) {
	  font-size: 4;
	}
  }
  img {
	position: relative;
	border-radius: 5px;
	max-width: 100%;
	height: auto;
	z-index: 9;
  }
  a.back-link {
	display: inline-block;
	padding: 0.5em 0.75em 0.4em 0.6em;
	background-color: $color-primary;
	color: $color-background;
	border-radius: 3px;
	transform: scale(0.9) translateX(-4%);
	cursor: pointer;
	transition: all 150ms ease-out;
	&:hover {
	  transform: scale(1) translateX(-4%);
	}
  }
  .post-header {
	  margin-top: 20px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
  }
}
