$base-font-size: 14px;

$color-background: #1A162C;
$color-white: #FFF;
$color-primary: #5436DF;
$color-text: #4C4C4C;
$color-post_title: #000;


@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/leaguespartan-bold.eot');
  src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leaguespartan-bold.woff2') format('woff2'),
  url('../fonts/leaguespartan-bold.woff') format('woff'),
  url('../fonts/leaguespartan-bold.ttf') format('truetype'),
  url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-title: 'League Spartan', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
